language: php

matrix:
  include:
    - php: 5.3
      env: SYMFONY_VERSION=2.3.*
    - php: 5.6
      env: SYMFONY_VERSION=2.7.*

before_install:
  - composer require --dev --no-update symfony/framework-bundle "$SYMFONY_VERSION"

install:
  - composer update --prefer-source

script:
  - vendor/bin/phpunit

after_script:
  - vendor/bin/coveralls

notifications:
  email: matthiasnoback@gmail.com

sudo: false
